/*
    PluginDraft CSS styles
*/

.specialmenu {
}

/* NOTICE message */
.specialmenu-notice {
    display: table;
    margin: 2px 0;
    border: 1px solid #777;
    background-color: #eee;
}
.specialmenu-notice div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #777;
    height: inherit;
}
.specialmenu-notice span {
    display: table-cell;
    padding: 2px 4px;
    color: #777;
}

/* SUCCESS message */
.specialmenu-success {
    display: table;
    margin: 2px 0;
    border: 1px solid #2a0;
    background-color: #efe;
}
.specialmenu-success div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #2a0;
    height: inherit;
}
.specialmenu-success span {
    display: table-cell;
    padding: 2px 4px;
    color: #2a0;
}

/* ERROR message */
.specialmenu-error {
    display: table;
    margin: 2px 0;
    border: 1px solid #f33;
    background-color: #fee;
}
.specialmenu-error div {
    display: table-cell;
    padding: 2px 6px;
    color: white;
    background-color: #f33;
    height: inherit;
}
.specialmenu-error span {
    display: table-cell;
    padding: 2px 4px;
    color: #f33;
}
